<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <script>
        let inactivityTimeout;
        
        function resetInactivityTimer() {
            clearTimeout(inactivityTimeout);
            inactivityTimeout = setTimeout(logout, 10000);  // 10 seconds
        }

        function logout() {
            // Redirect to the logout URL
            window.location.href = "{% url 'login' %}";
        }
        
        function handleActivity() {
            resetInactivityTimer();
        }
        document.addEventListener('mousemove', resetInactivityTimer);
        document.addEventListener('keypress', resetInactivityTimer);

        // Initialize the timer on page load
        resetInactivityTimer();
    </script>
   
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <ul class="nav navbar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="" style="color: rgb(19, 19, 192);">welcome, {{ user }}</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>heloo,{{ request.user }}</h1>
        <h1>{{ msg1 }}</h1>
            <p>Welcome, {{ request.user.username }}!</p>
            <p>Login Time: {{ login_time }}</p>
            <p>Logout Time: {{ logout_time }}</p>
            <p>Time Spent: {{ time_spent }}</p>
            <p>Total Time Spent: {{ total_time_spent }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>