<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view user logs</title>
</head>
<body>
    <h2>User Logs for "{{ user.username }}"</h2>
  <table>
    <thead>
      <tr>
        <th>Login Time</th>
        <th>Logout Time</th>
      </tr>
    </thead>
    <!-- <tbody>
        <h1>heloo,{{ request.user }}</h1>
            <p>Welcome, {{ request.user.username }}!</p>
            <p>Login Time: {{ login_time }}</p>
            <p>Logout Time: {{ logout_time }}</p>
            <p>Time Spent: {{ time_spent }}</p>
            <p>Total Time Spent: {{ total_time_spent }}</p>
    </tbody> -->
    <tr>
        <td>{{ log.login_time }}</td>
        <td>{{ log.logout_time }}</td>
        <td>{{ log.total_time_spent }}</td>
      </tr>
  </table>
</body>
</html>